<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuya.smart.lighting.device_panel">

    <application>
        <activity
            android:name=".DeviceControlActivity"
            android:exported="true" />
    </application>
</manifest>