*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea
app/src/main/java/com/tuya/smart/android/demo/FitmentApiUrlInteriorProvider.java
t_s.bmp