<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuya.smart.lighting.device_activator">

    <application>
        <activity
            android:name=".DeviceActivatorActivity"
            android:exported="true" />
    </application>

</manifest>